*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Custom 
irnd/nbproject/private/*
irnd/dist/*.jar
irnd/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
irnd/nbproject/genfiles.properties
irnd/nbproject/build-impl.xml